h1 Weather
p Weather report goes here
table.table.table-striped
  tbody 
    tr
      td Location
      td {{currentWeather.latitude}}, {{currentWeather.longitude}}
    tr
      td Time
      td {{currentWeather.time}}
